body{

margin:0;

background:

linear-gradient(
180deg,
#021733,
#005cff
);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial;

}

.auth{

background:

rgba(
0,
0,
0,
0.7
);

padding:40px;

width:350px;

border-radius:30px;

text-align:center;

}

.logo{

width:220px;

}

h1{

color:white;

}

input{

width:100%;

padding:15px;

margin:12px 0;

border:none;

border-radius:15px;

}

button{

width:100%;

padding:18px;

background:#4CAF50;

border:none;

color:white;

font-size:18px;

border-radius:20px;

}

a{

color:#00aaff;

}

p{

color:white;

}
